---
import "../styles/global.css";

// Component Imports
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/HeroSection.astro";
import FeatureSection from "../components/FeatureSection.astro"; // Import the new component
import WaitlistForm from "../components/WaitlistForm.astro"; // Import the new component
import TestimonialsSection from "../components/TestimonialsSection.astro"; // Import the new component
import SecuritySection from "../components/SecuritySection.astro"; // Import the new component
import CallToActionSection from "../components/CallToActionSection.astro"; // Import the new component
import Footer from "../components/Footer.astro"; // Import the new component
import FAQSection from "../components/FAQSection.jsx"; // Import the new FAQ component
import ScrollToTop from "@/components/ScrollToTop.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Healthcare EMR System</title>
  </head>

  <body>
    <Navbar />
    <main>
      <HeroSection class="mb-8 md:mb-16" />
      <FeatureSection class="mb-16" />
      {/* Add the feature section */}
      <WaitlistForm class="mb-16" />
      {/* Add the waitlist form section */}
      <TestimonialsSection class="mb-16" />
      {/* Add the testimonials section */}
      <SecuritySection class="mb-16" />
      {/* Add the security section */}
      <CallToActionSection class="mb-16" />
      <FAQSection client:load />
      <ScrollToTop />
      {/* Add the FAQ section */}
    </main>
    <Footer />
    {/* Add the footer section */}
  </body>
</html>
