<header
  class="navbar p-4 shadow-md fixed top-0 z-50 bg-white/70 backdrop-blur-md w-full"
>
  <nav class="container mx-auto flex justify-between items-center">
    <div>
      <img
        src="/assets/CardioArca.svg"
        alt="Medcare Logo"
        class="h-12 w-auto"
      />
    </div>
    <div class="hidden md:flex items-center justify-between space-x-12">
      <a href="#" class="navbar-link">Home</a>
      <a href="#" class="navbar-link">About</a>
      <a href="#" class="navbar-link">Department</a>
      <a href="#" class="navbar-link">Doctors</a>
      <a href="#" class="navbar-link">Blog</a>
      <a href="#" class="navbar-link">Contact</a>
      <!-- Buttons always in desktop -->
      <div class="flex items-center space-x-4">
        <button class="btn-primary">Login</button>
        <button class="btn-secondary">Sign Up</button>
      </div>
    </div>

    <div class="md:hidden flex items-center space-x-4">
      <button id="hamburger-menu" class="text-gray-800 focus:outline-none">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </nav>

  <!-- Mobile menu -->
  <div id="mobile-menu" class="md:hidden hidden">
    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Home</a>
    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">About</a
    >
    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
      >Department</a
    >
    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
      >Doctors</a
    >
    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Blog</a>
    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 my-2"
      >Contact</a
    >
    <!-- Buttons visible in mobile -->
    <div class="mt-4 px-4 pb-4 flex flex-col space-y-4">
      <button class="btn-primary-small w-full">Login</button>
      <button class="btn-secondary-small w-full">Sign Up</button>
    </div>
  </div>
</header>

<script>
  const hamburgerButton = document.getElementById("hamburger-menu");
  const mobileMenu = document.getElementById("mobile-menu");

  if (hamburgerButton && mobileMenu) {
    hamburgerButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  }
</script>
